<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzGprZ4prBEwSxFGNi4D6gfoGRBto-vV8</string>
	<key>GCM_SENDER_ID</key>
	<string>748205077452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diyatalwar.donation-app-1</string>
	<key>PROJECT_ID</key>
	<string>donationapp2-b4a4c</string>
	<key>STORAGE_BUCKET</key>
	<string>donationapp2-b4a4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748205077452:ios:e90f22f19cfa7fd1eea369</string>
	<key>DATABASE_URL</key>
	<string>https://donationapp2-b4a4c-default-rtdb.firebaseio.com</string>
</dict>
</plist>